/* Enter your custom styles here */

/* .sapMObjStatus>.sapMObjStatusTitle {
    color: #556b82;
    font-weight: bold !important;
}
.sapMObjStatus:not(.sapMObjStatusInverted) .sapMObjStatusText, .sapMObjStatus:not(.sapMObjStatusInverted) .sapMObjStatusIcon, .sapMObjStatusInverted .sapMObjStatusLink:active .sapMObjStatusText, .sapMObjStatusInverted .sapMObjStatusLink:active .sapMObjStatusIcon {
    text-shadow: 0 0 .125rem #fff;
    font-weight: bold !important;
} */

/* .orderset{
    padding-top: 10%;
    color: #32363a;
}
.grand{
    color: purple;
}
.amt{
    color: coral !important;
}

.tax{
    color: forestgreen;
} */



/* .sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusText, .sapMObjStatusInverted.sapMObjStatusInformation .sapMObjStatusIcon {
    text-shadow: 0 0 .125rem #fff;
    font-size: 0.9rem !important;
} */




.sapUiSizeCompact .sapUiFormContainerTitle>.sapUiFormTitle {
    height: 2rem;
    line-height: 2rem;
    display: none !important;
}



